# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
.terraform.tfstate

# IDE files
.idea/
.vscode/
*.swp

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
